{{ $gitlog_details := slice }}
{{ with resources.Get "gitlog-details.json" }} {{ $gitlog_details = transform.Unmarshal . }} {{ end }} 
{{ $id := .Params.id }}
{{ $gitlog := slice }}
{{ range $gitlog_details }}
  {{ if eq $id .id }}
  {{ $gitlog = .log }} 
  {{ end }} 
{{ end }} 

<div class='git-container'>
  <span class='git-title'>修改日志</span>
  <ul class="git-log">
    {{ range $gitlog }} 
    <li class="git-line">
      <span class="git-time">{{ .date }}</span>
      <span class="git-msg">{{ .message }}</span>
    </li>
    {{ end }} 
  </ul>
</div>

