<div class="navbar">
  <div class='navbar-title'>
		<a href='/'> {{ .Site.Params.sitename }} </a>
	</div>

	<div class="navbar-categories">
		{{ range .Site.Params.sections }}
		<div class="navbar-categories-item">
      {{ if .external }}
      <a class="external-link" href="{{ .link }}"> {{- .zh_name -}} </a>
      {{ else }}
      <a href="{{ .link }}"> {{- .zh_name -}} </a>
      {{ end }}
		</div>
		{{ end }}
	</div>


  {{ $show_sort := slice "term" "section" }}
  <div class="navbar-tools">
  <button class="sort-btn {{ if not (in $show_sort .Kind) }} hidden {{ end }}" onmousedown="toggle_sort_items()" onblur="close_sort_items()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="25" width="25"> <g> <path d="M20 4v12h3l-4 5-4-5h3V4h2zm-8 14v2H3v-2h9zm2-7v2H3v-2h11zm0-7v2H3V4h11z"></path> </g> </svg>
    </button>
    <div class='sort-items'>
      <div onmousedown="set_sort_url('0')">创建时间</div>
      <div onmousedown="set_sort_url('1')">修改时间</div>
      <div onmousedown="set_sort_url('2')">字数</div>
    </div>

    <button class="search-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 16 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path> </svg>
    </button>

    <div class='search-overlay'></div>
    <div class='search-window'>
      <input class='search-input'>
      <div class='search-result'></div>
    </div>

  </div>
</div>
